<form [formGroup]="formValidation.registrationForm" (ngSubmit)="register(formValidation.registrationForm.value)">
  <div class="form-group">
    <label for="firstName">
      <span class="tag">First name:</span>
      <span *ngIf="!formValidation.registrationForm.controls['firstName'].valid 
      && (formValidation.registrationForm.controls['firstName'].touched)">
      <span class="alert-errors" [hidden]="!formValidation.registrationForm.controls['firstName'].errors.required">
        First name is required!
      </span>
    </span>
  </label>
  <input type="text" class="form-control" id="firstName" placeholder="Enter first name" 
  name="firstName" formControlName="firstName">
</div>
<div class="form-group">
  <label for="lastName">
      <span class="tag">Last name:</span>
    <span *ngIf="!formValidation.registrationForm.controls['lastName'].valid 
    && (formValidation.registrationForm.controls['lastName'].touched)">
    <span class="alert-errors" [hidden]="!formValidation.registrationForm.controls['lastName'].errors.required">
      Last name is required!
    </span>
  </span>
</label>
<input type="text" class="form-control" id="lastName" placeholder="Type your last name" name="lastName" formControlName="lastName">
</div>
<div class="form-group">
  <label for="email">
      <span class="tag">Email:</span>
    <span *ngIf="!formValidation.registrationForm.controls['email'].valid 
    && (formValidation.registrationForm.controls['email'].touched)">
    <span class="alert-errors" [hidden]="!formValidation.registrationForm.controls['email'].email">
        Valid email required!
      </span>
  </span>
</label>
<input type="text" class="form-control" id="email" placeholder="Add email" name="email" formControlName="email">
</div>
<div class="form-group">
  <label for="password">
      <span class="tag">Password:</span>
    <span *ngIf="!formValidation.registrationForm.controls['password'].valid 
        && (formValidation.registrationForm.controls['password'].touched)">
          <span class="alert-errors" [hidden]="formValidation.registrationForm.controls['password'].errors.minLength">
              requires 8 or more characters!
            </span>
        </span>
  </label>
  <input type="password" class="form-control" id="password" placeholder="Type password" name="password" formControlName="password">
</div>
<div class="checkbox">
  <label><input type="checkbox" name="remember"> Remember me</label>
</div>
<button type="submit" class="btn btn-default" [disabled]="!formValidation.registrationForm.valid">Register</button>
<div class="termsOfServiceAndPrivacyPolicy">
  By clicking "Register", you agree to our 
  <a routerLink="/marialex/terms-of-service">terms of service</a> and 
  <a routerLink="/marialex/privacy-policy">privacy policy</a>.
</div>
</form>