$deepGray:#2F4454;
$deepMaroon:#2E151B;
$pink:rgb(140, 161, 18);
$lightGreen:#1d74a7;
$DarkGreen:#2F4454;

input{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
         border-radius: 0 !important;
}
form{
    margin-top:.2em;
}

label{
    display: flex;
    font-size: .9em;
    color:$pink;
}
.tag{
  flex: 1;
}
.alert-errors{
    flex:2;
    color:#ed0404;
    font-size: .9em;
    padding-left: 10px;
    float: right;
}
input{
    margin-bottom: -8px;
}
.termsOfServiceAndPrivacyPolicy{
    width: 100%;
    padding-top: 10px;
    text-align-last: center;
    color:$pink;
}