<header>
  <div class="logo">
    <div id="logo">
        <img src="../../../../../assets/icons/header_logo.png" alt="logo">
    </div>
  </div>
  <nav>
    <ul class="menu">
      <li class="menu_two">
        <a routerLink="/marialex/feed" data-title="Home">
          <img src="../../../../../assets/icons/home.png" alt="Home">
        </a>
      </li>
      <li class="menu_one">
        <a routerLink="/marialex/profile" data-title="Profile">
          <img src="../../../../../assets/icons/profile.png" alt="Home">
        </a>
      </li>
      <li class="menu_three">
        <a href="" data-title="Connections">
          <img src="../../../../../assets/icons/connections.png" alt="Home">
        </a>
      </li>
    </ul>
      <feeds-search></feeds-search>
    <ul id="rightMenuBar" class="menu">
      <li class="menu_two">
        <a href="" data-title="Notifications">
          <img src="../../../../../assets/icons/notifications.png" alt="Home">
        </a>
      </li>
      <li class="menu_three">
        <a href="" data-title="Setting">
          <img src="../../../../../assets/icons/setting.png" alt="Home">
        </a>
      </li>
      <li id="menuIcon" class="menu_one" (click)="toggleSideBar()">
        <a id="menuIconLink">
          <img id="menuIconImage" src="../../../../../assets/icons/menu.png" alt="Home">
        </a>
      </li>
    </ul>
  </nav>
  <div class="sidebar" [@animateSideBar]="menuState" #sidebar>
    <sidebar></sidebar>
  </div>
</header>