// $navPrimaryColor:rgba(0,0,0.8);
// $navcolorAccent:#FFFFFF;
// $navPrimaryDark:#000000;

$navPrimaryColor:#006699;
$navcolorAccent:#FFFFFF;
$navPrimaryDark:#006699;
$sidebarcolor:#006699;


header{
	width: 100%;
    background-color:$navPrimaryColor;
    position: fixed;
    z-index: 100;
}
header .logo{
    width: 100%;
    background-color: #006699;
}
header .logo #logo{
    width: 128px;
    height: 25px;
    margin: auto;
}
header .logo #logo img{
    width: 100%;
    height:100%;
}
header nav{
    display: flex;
    height:36px;
    padding: 2px 0px;
}

.menu{
    display: flex;
    list-style-type: none;
    flex: 1;
    height:27px;
    padding: 0px 5px;
    margin-top:1px;
}
.menu:first-child{
    justify-content:flex-start;
    padding-left: 5px;
}
.menu:last-child{
    justify-content:flex-end;
    padding-right: 5px;
}
.menu li{
    width: 27px;
    height: 100%;
}
.menu li a{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.menu li a:hover{
    position: relative;
}
.menu li a[data-title]:hover:after{
    content: attr(data-title);
    padding: 8px 12px;
    background-color: #000000;
    position: absolute;
    color: #FFFFFF;
    left:10;
    top:23px;
    transition: 500ms;
    z-index: 100;
}
.menu li a img{
    width: 100%;
    height: 100%;
}

.menu_two, .menu_three{
	display: none;
}
feeds-search{
    padding-top:1px;
    width:75%;
	position: relative;
}
#menuIcon{
    padding: 2px;
}

.sidebar{
    width: 190px;
    height: 650px;
    padding: 15px 20px 0px 10px;
    overflow-y: scroll;
    position: fixed;
    z-index: 40;
    top:61.5px;
    background-color: $navPrimaryColor;
    right:-200px;
}

@media only screen and (min-width:400px){
    feeds-search{
        width:60%;
    }
}

@media only screen and (min-width:400px){
    .menu:first-child{
        justify-content:space-around;
        padding-right: 5px;
    }
    .menu:last-child{
        justify-content:space-around;
        padding-left: 5px;
    }
    .menu_two{
        display: block;
    }
}

@media only screen and (min-width:650px){
    .menu_three{
        display: block;
    }
}