.retrievePassword{
    width: 300px;
    margin: auto;
    margin-top: 3em;
    overflow: hidden;
}
h4{
    margin: 2em 0px;
    text-align: center;
}

button{
    margin-left: 30px;
    float: right;
}

@media only screen and (min-width:500px){
    .retrievePassword{
        margin-top: 2em;
        width: 400px;
    }
}