<div class="retrievePassword">
  <h4>Retrieve password</h4>
  <form>
      <div class="form-group">
          <label for="email">Email:</label>
          <input type="text" placeholder="Type your email address" class="form-control" name="email" id="email"/>
        </div>
        <button class="btn btn-default">Send</button>
        <a routerLink="">
            <button class="btn btn-default">Cencel</button>
        </a>
  </form>
</div>