<div class="cover">
    <img src="../../../assets/images/new-york.jpg" alt="new york">
</div>
<div class="identification">
    <ul>
        <li routerLinkActive="current"><a routerLink="/marialex/login">Login</a></li>
        <li routerLinkActive="current"><a routerLink="/marialex/register">Register</a></li>
    </ul>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>
