$deepGray:#2F4454;
$deepMaroon:#2E151B;
$pink:rgb(140, 161, 18);
$lightGreen:#1d74a7;
$DarkGreen:#2F4454;


.cover{
    width: 100%;
    height: 250px;;
    position: relative;
    z-index: 20;
}
.cover img{
    width: 100%;
    height: 100%;
}
.identification{
    width:300px;
    margin: auto;
    z-index:30;
    top:10%;
    left: 0;
    right: 0;
    position: absolute;
    background-color:$DarkGreen;
}
.identification ul{
    padding: 0px;
}
.identification ul li{
    width: 50%;
    float: left;
    line-height: 40px;
    list-style-type:none;
    text-align: center;
    color: $lightGreen;
}
.identification li a{
    display: block;
    text-decoration: none;
}
.current{
    background-color: #FFFFFF;
}
.current a{
    color: $pink;
}
.content{
    width:300px;
    height: 410px;
    padding:1em 15px 5px 15px;;
    display: block;
    margin-top: 2.6em;
    border-top:5px solid #FFFFFF;
    background-color:$DarkGreen;
    color: #FFFFFF;
    
}

@media only screen and (min-width:500px){
    .identification{
        top:23%;
    }
}