<div class="updatesContainer">
    <div>
        <a routerLink="/marialex/profile">
            <button data-title="Close" class="closeProfileUpdate" (click)="closeProfileUpdate()">X</button>
        </a>
    </div>
    <div class="content">
        <div class="contenu">
            <div class="header"></div>
        </div>
    </div>
</div>