<div class="search">
  <div class="search-box">
    <input id="search-box" type="text" placeholder="Search"  (focus)="onSearchBoxFocus($event)" 
    (keyup)="onSearchStart()" [(ngModel)]="searchValues" #searchBox>
    <div class="search-icon">
      <img src="../../../../../assets/icons/search-icon.png" alt="Home">
    </div>
  </div>
  <div id="search-result" class="search-result" #searchResults>
    <div class="searchMenu">
      <section class="menuContent">
        <button class="menuItem">EDIT</button> <button class="menuItem">CLEAR</button>
      </section>
    </div>
    <section class="searchMatches">
      
      <div class="resultEmpty" *ngIf="searchValues == ''">
        start searching
      </div>
      
      <ul class="allMatches" *ngFor="let post of foundsResults">
        <a [routerLink]="['post',post.id, 'details']" class="newMatch" (click)="gotoLink()">
          <li *ngIf="post.images?.length > 0" class="listItem">
            <div class="icon" *ngIf="post.images?.length > 0" >
              <img  class="image" [src]='post.images[0].source | imageEmbed : post.images[0].type' alt="image">
            </div>
            <p class="newMatchTitle">
                {{ post.body | readMore : 50 }}
              <!-- {{post.body | highlightText : searchValues}} -->
            </p>
          </li>
          
          <li *ngIf="post.images?.length == 0">
            <div class="icon">
              <img src="../../../../../assets/icons/search-icon.png" alt="">
            </div>
            <p class="newMatchTitle">
              {{ post.body | readMore : 50 }}
            </p>
          </li>
        </a>
      </ul>
      <div class="resultEmpty" *ngIf="searchValues.length>0 && foundsResults.length == 0" >
        No match found
      </div>
    </section>
    <div class="moreSearch">
      <a routerLink="/marialex/more-search-result">more result</a>
    </div>
  </div>
</div>