.search-box{
    width: 100%;
    overflow: hidden;
    height: 100%;
    border-radius: 3px;
    border-bottom: 1px solid #000000;
    position: relative;
}
.search-box input{
    width: 100%;
	height: 100%;
    border: none;
    padding: 5px;
	outline: none;
    font-size: 1em;
}
.search-box .search-icon{
	width: 30px;
	height: 100%;
	padding: 0px;
	margin: 0px;
	background-color: transparent;;
	box-shadow: transparent;
	border: none;
	outline: none;
    position: absolute;
    cursor: pointer;
	right: 0px;
	top: 0px;
}
.search-box .search-icon img{
	width: 100%;
	height: 100%;
	outline: none;
}

.search-result{
	width: 100%;
    position: absolute;
    z-index:100;
    background-color: #FFFFFF;
    display: none;
    border: 1px solid #F0F0F0F0;
}
.search-result .highlight{
    background-color: red;
}
.search-result .searchMenu{
    background-color: #F0F0F0;
    overflow: hidden;
}
.search-result .searchMenu .menuContent{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    background-color: transparent;
    float: right;
}
.search-result .searchMenu .menuContent button{
    background-color:transparent;
    border:none;
    outline: none;
    font-size: .8em;
    font-weight: bolder;
    font-family: Helvetica, Arial, sans-serif;
}
.search-result .searchMenu .menuContent button:hover{
    text-decoration:underline;
}
.search-result .searchMatches{
    *{
        margin: 0px;
        padding: 0px;
    }
    width: 100%;
    height: auto;
    max-height: 200px;
    overflow-y: scroll;
}
.search-result .searchMatches .resultEmpty{
    text-align: center;
    font-size: 1.3em;
}
.search-result .searchMatches .allMatches{
    padding: 0px;
    list-style-type: none;
}
.search-result .searchMatches .allMatches .newMatch{
    padding: 3px;
    display: block;
}
.search-result .searchMatches .allMatches li{
    padding-left: 5px;
    overflow: hidden;
    border-bottom: 1px solid #F0F0F0;
}
.search-result .searchMatches .allMatches li:last-child{
    border-bottom: none;
}
.search-result .searchMatches .allMatches li .icon{
    width: 30px;
    height: 30px;
    margin: 2px 5px 0px 1px;
    border-radius: 100%;
    float: left;
}
.search-result .searchMatches .allMatches li .icon img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.moreSearch{
    width: 100%;
    line-height: 20px;
    font-size: 1.1em;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    border-top: 1px solid #F0F0F0;
}
.moreSearch a{
    display: block;
    text-align: center;
}