<div class="container">
    <div class="jumbotron">
      <h1>Bootstrap Tutorial</h1> 
      <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing
      responsive, mobile-first projects on the web.</p> 
      <button class="btn btn-primary">More >>></button>
    </div>
  </div>