$deepGray:#fFFFFF;
$deepMaroon:#2E151B;
$pink:rgb(140, 161, 18);
$lightGreen:#1d74a7;
$DarkGreen:#115880;

.container{
    margin-top: 2em;
}
.container .jumbotron {
    border-radius: 0px;
    background-color: $lightGreen;
}
.container .jumbotron .btn-primary{
    background-color: $DarkGreen;
}