// $deepGray:#2F4454;
// $deepMaroon:#2E151B;
// $pink:#DA7B93;
// $lightGreen:#376e6F;
// $DarkGreen:#1C3334;
$deepGray:#2F4454;
$deepMaroon:#2E151B;
$pink:rgb(140, 161, 18);
$lightGreen:#1d74a7;
$DarkGreen:#115880;

header{
    width: 100%;
    overflow: hidden;
}
.top-navigation{
    width: 100%;
    height: 40px;
    overflow: hidden;
    text-align: center;
    background-color: $deepGray;
}
.top-navigation div{
    display: inline-block;
}
#searchIcon,
 #menuIcon, {
    width: 40px;
    height:100%;
    float: right;
}
#searchIcon img, #menuIcon img{
    width: 100%;
    height: 100%;
}
#searchIcon{
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-right: 10px;
}
#menuIcon{
    padding: 3px 0px;
    cursor: pointer;
}
.top-navigation .brand{
    padding: 2px;
}
.top-navigation .brand span{
    color: $pink;
    clear: right;
    display: block;
    font-size: 1.5em;
    text-shadow: 2px 2px 2px $deepMaroon;
}
nav{
    width: 100%;
    padding: 1px;
    padding-bottom: 0px;
    position: absolute;
    z-index: 50;
    background-color: $DarkGreen;
    
}

nav ul{
    width: 100%;
    overflow: hidden;
    padding: 0px;
    
}
nav ul li{
    line-height: 40px;
    list-style-type: none;
    padding: 0px;
}
nav ul li a{
    display: block;
    padding-left:5px;
    color: $pink;
}

nav ul li:hover a{
    color:$deepMaroon;
    text-decoration: none;
}
.menu li{
    border-top: 1px solid $deepMaroon;
}
.menu li:first-child{
    border: none;
}
.menu li:last-child{
    line-height:30px;
}
#identification{
    width: 100%;
    border-top: 1px solid $deepMaroon;
    padding-top: 10px;
}
#identification li{
   width: 50%;
   float: left;
   line-height:30px;
   padding: 5px;
    text-align: center;
}
#identification li a{
  border: 1px solid $pink;
}
#logout{
    text-align: right;
    padding-right:20px;
}
#logout button{
    background-color: $DarkGreen;
    border: 1px solid $pink;
    color: $pink;
    padding:1px 25px;
}
#logout button:hover{
    color: $deepGray;
}

  @media only screen and (min-width:500px) {
    nav{
        position: static;
        overflow: hidden;
        display: block;
       
    }
    #menuIcon{
        display: none;
    }
    #menu{
          width: 500px;
          margin: auto;
          border: none;
      }
     
    #menu li{
        width: 25%;
        line-height: 40px;
        border: none;
        float: left;
    }   
    #identification{
        width: 200px;
        padding: 1px;
        display: flex;
        margin-right: 5px;
        border:none;
        float: right;
    }
    #identification li{
        width: 50%;
        border:none;
        text-align: center;
        line-height: 25px;
        padding: 2px;
    }

    #logout{
        width: 100px;
        padding: 1px;
        border:none;
        float: right;
        padding-right:5px;
    }
    
  }