<header (window:resize)="onResize($event)">
  <div class="top-navigation">
    <div class="brand">
      <span>Marialex</span>
    </div>
    <div id="menuIcon" (click)="toggleMenu()">
      <img src="../../../assets/icons/menu.png" alt="menu">
    </div>
    <div id="searchIcon" routerLinkActive="current">
      <a routerLink="/marialex/search">
          <img src="../../../assets/icons/search.png" alt="search">
      </a>
    </div>
    
  </div>

  <nav #navigationBar (click)="toggleAndRedirect()">
    <ul id="menu" class="menu" >
      <li routerLinkActive="current"><a routerLink="">Home</a></li>
      <li routerLinkActive="current"><a routerLink="/marialex/feed">Feeds</a></li>
      <li routerLinkActive="current"><a routerLink="/marialex/video">Videos</a></li>
      <li routerLinkActive="current"><a routerLink="/marialex/about">About</a></li>
    </ul>
    <ul id="identification" *ngIf="!isLoggedIn">
      <li routerLinkActive="current"><a routerLink="/marialex/login">Login</a></li>
      <li routerLinkActive="current"><a routerLink="/marialex/register">Register</a></li>
    </ul>
    <ul id="logout" *ngIf="isLoggedIn">
      <button (click)="logout()">Logout</button>
    </ul>
  </nav>
</header>