
.avatarFileUploadContainer{
    width: 100%;
    height: 100%;
    padding: 20px;
}
.uploadAvatarfile{
    width: 100%;
    height: 100%;
}
.file{
    width: 100%;
    height: 250px;
    position: relative;
    background-color: rgb(219, 214, 214);
    border: 2px dashed #000000;
    z-index: 1;
}
.file input{
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    cursor: pointer;
   z-index:2;
}
.file img{
    width: 150px;
    height: 150px;
    display: block;
    margin:5px auto;
    z-index: 3;
}
.textMessage{
    text-align: center;
}
.textMessage span{
    display: block;
    font-weight: bold;
    font-size: 1.2em;
    color: #444444;
    font-size: .9em;
    text-align: center;
}
.buttons{
    padding-top: 30px;
    width: 200px;
    margin: auto;
    background-color: transparent;
}
.buttons button{
    width: 90px;
}
.buttons button:last-child{
    float: right;
}