<div class="avatarFileUploadContainer">
        <div class="uploadAvatarfile">
            <div class="file">
                <input (change)="handleFiles()" type="file" multiple #inputFiles  accept=".jpg,.png,.jpeg" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
                <img src="../../../../assets/icons/content-upload.png" alt="">
                <div class="textMessage">
                    <span>
                        Click to upload cover photo
                    </span>
                    <span>or</span>
                    <span> drag and drop</span>
                </div>
            </div>
            <div class="buttons">
                <button class="btn btn-default">Cancel</button>
                <button (click)="uploadFiles()" class="btn btn-default">Upload</button>
            </div>
        </div>
    </div>