*{
    margin: 0px;
    padding: 0px;
}
.search{
    width:100%;
    background-color: #FFFFFF;
}
.search-result{
    width: 100%;
}
.searchMatches{
    width: 100%;
}
.allMatches{
    width: 100%;
    height: auto;
}
.allMatches a{
    display: block;
    padding: 2px;
}
.allMatches a li{
    padding: 1px 0px;
    display: flex;
}
.allMatches a li .icon{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin:3px 2px 2px 5px;
}
.allMatches a li .icon .image{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.allMatches a li .newMatchTitle{
    flex: 1;
    padding-left: 3px;
}