<div class="search">
  
  <div class="search-result">
    
    <section class="searchMatches">
      <!-- [routerLink]="['./../../post',post.id, 'details']" -->
      <ul class="allMatches" *ngFor="let post of searchResultContainer">
        <a [routerLink]="['/marialex/post',post.id, 'details']" class="newMatch">
          <li class="listItem">
            <div class="icon" *ngIf="post.images.length">
              <img  class="image" [src]='post.images[0].source | imageEmbed : post.images[0].type' alt="image">
            </div>
            <div class="icon" *ngIf="!post.images.length">
              <img  class="image" src="../../../../../assets/icons/search-icon.png" alt="image">
            </div>
            <p class="newMatchTitle">
              {{ post.body | readMore : 50 }}
              <!-- {{post.body | highlightText : searchValues}} -->
            </p>
          </li>
        </a>
      </ul>
    </section>
  </div>
</div>