<div class="social">
  <div >
    <a href="" class="facebook">
      <button>Facebook</button>
      <div >
          <img src="../../../assets/icons/facebook.png" alt="menu">
      </div>
    </a>
    <a href="" class="googleplus">
       
      <button>Google plus</button>
      <div >
          <img src="../../../assets/icons/googleplus.png" alt="menu">
      </div>
    </a>
    <a href="" class="twitter">
       
      <button>Twitter</button>
      <div>
          <img src="../../../assets/icons/twitter.png" alt="menu">
      </div>
    </a>
  </div>
  <div class="line-container">
      <span class="line"></span>
      <span>Or</span>
      <span class="line"></span>
  </div>
</div>
<form [formGroup]="formValidation.loginForm" (ngSubmit)="login(formValidation.loginForm.value)">
  <div>
      <!-- <span *ngIf="(!formValidation.loginForm.controls['email'].valid 
      && (formValidation.loginForm.controls['email'].touched)) || (!formValidation.loginForm.controls['password'].valid 
      && (formValidation.loginForm.controls['password'].touched))">
      <span class="alert-errors" [hidden]="!formValidation.loginForm.controls['email'].errors.required
       || !formValidation.loginForm.controls['email'].errors.required">
         username and password required!
        </span>
    </span> -->
    <span class="alert-errors" *ngIf="authenticationFailure">Invalid username or password</span>
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" (focus)="emailFocus()"
    id="email" placeholder="Enter email" name="email" formControlName="email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" (focus)="passwordFocus()"
     id="pwd" placeholder="Enter password" name="password" formControlName="password">
  </div>
  <div class="checkbox">
    <label><input type="checkbox" name="remember"> Remember me</label>
  </div>
  <button type="submit" class="btn btn-default" [disabled]="!formValidation.loginForm.valid">Submit</button>
  <section class="forgotUsernameOrPassword">
      Forgot password ? <a routerLink="/marialex/retrieve-password">Retrieve</a>
  </section>
</form>