$deepGray:#2F4454;
$deepMaroon:#2E151B;
$pink:rgb(140, 161, 18);
$lightGreen:#1d74a7;
$DarkGreen:#2F4454;

input{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
         border-radius: 0 !important;
         
}
.social{
    width: 100%;
    text-align-last: center;
}
.social a{
    width: 100%;
    display: flex;
    padding: 0px;
    margin:5px auto;
    height: 25px;
    background-color:blue;
    overflow: hidden;
    text-decoration: none;
}
.social a div{
    display: block;
    width: 30px;
    height: 100%;
}
.social a div img{
    width: 100%;
    height: 100%;
}
.social a button{
   flex: 1;
   border-radius: 0px;
   border: none;
}
.facebook button{
    background-color: #3f5fa5;
    color: #FFFFFF;
}
.facebook:hover button{
    background-color: #4664a7;
}
.googleplus button{
    background-color: #e65946;
    color: #FFFFFF;
}
.googleplus:hover button{
    background-color: #ec6958;
}
.twitter button{
    background-color: #4fcbf8;
    color: #FFFFFF;
}
.twitter:hover button{
    background-color: #77d5f7;
}
span{
    display: inline-block;
    margin-top: 5px;
    color:$pink;
}
.line-container{
    text-align: center;
}
.line{
    width: 50px;
    border-bottom: 1px solid $pink;
    margin-top: 0px;
}
label{
    color:$pink;
}
.forgotUsernameOrPassword{
    margin-top: 5px;
    font-size: 1em;
    text-align: right;
    color:$pink;
}
.alert-errors{
    display: block;
    padding: 2px 1px;
    text-align: center;
    color: red;
}
