footer{
    width: 100%;
    padding: 2px;
    background-color: black;
    position: fixed;
    padding-left: 10px;
    z-index: 50;
    bottom:0;
    left: 0;
    display: flex;
    z-index:9999999999999;
}
.logo{
    width: 27px;
    height: 33px;
}
.logo img{
    width: 100%;
    height: 100%;
}
.footer{
    line-height: 33px;
    color: #FFFFFF;
}