.notification-container{
    width: 100%;
    max-height:635px;
    padding: 0px;
    overflow-y: scroll;
    padding-top:3.5em;
    
    
}
.notification-content{
    width: 100%;
    height: auto;
}
.notifications{
    width: 100%;
    background-color: #FFFFFF;
    min-height: 550px;
    padding: 20px;
}
h3{
    width: 100%;
    padding: 5px;
    border-bottom: 2px solid #000000;
    margin:auto;
    font-size: 1.2em;
    margin-bottom:5px;
}
.filter{
    text-align: right;
    padding:5px 0px;
}

@media only screen and (min-width:405px){
    .notifications{
        width: 400px;
        margin: auto;
    }
}

@media only screen and (min-width:768px){
    .notifications{
        width: 700px;
    }
}