<div class="notification-container">
  <div class="notification-content">
    <div class="notifications">
      <h3>My notification</h3>
      <div class="filter">
        <span>Filter: </span>
        <select name="" id="">
          <option value="">Recent</option>
          <option value="">Old</option>
          <option value="">A-Z</option>
          <option value="">Z-A</option>
        </select>
      </div>
      <section class="notification">
        <ul>
          <li class="element">First</li>
        </ul>
      </section>
    </div>
  </div>
</div>