<div class="home-container">
    <div class="main-content">
        <div class="content">
            <div class="main">
                <section class="recent display-section">
                    <div class="header">
                        <span>Most recent</span>
                    </div>
                    <div class="videos" *ngIf="loadingRecentVideos; then displayLoadInterface; else displayRecent" >
                    </div>
                </section>
                <section class="suggestions display-section">
                    <div class="header">
                        <span>Suggestions</span>
                    </div>
                    <div class="videos" *ngIf="loadingSuggestedVideos; then displayLoadInterface; else displaySuggestions">
                    </div>
                </section>
            </div> <!-- end main-->
        </div>
    </div>
</div>

<ng-template #displayLoadInterface>
    <div class="loader">
        <div class="sk-fading-circle">
            <div class="sk-circle1 sk-circle"></div>
            <div class="sk-circle2 sk-circle"></div>
            <div class="sk-circle3 sk-circle"></div>
            <div class="sk-circle4 sk-circle"></div>
            <div class="sk-circle5 sk-circle"></div>
            <div class="sk-circle6 sk-circle"></div>
            <div class="sk-circle7 sk-circle"></div>
            <div class="sk-circle8 sk-circle"></div>
            <div class="sk-circle9 sk-circle"></div>
            <div class="sk-circle10 sk-circle"></div>
            <div class="sk-circle11 sk-circle"></div>
            <div class="sk-circle12 sk-circle"></div>
        </div>
    </div>
</ng-template>

<ng-template #displaySuggestions>
    <div class="videoSections" >
        <div class="layout">
            <div *ngFor="let video of suggestedVideos">
                <div class="videoWrapper">
                    <div class="frame">
                        <a [routerLink]="['playing',video.id]">
                            <iframe  [src]="video.source | videoSanitiser : video.type" 
                            frameborder="0" autoplay="0" frameborder="0"></iframe>
                            <div class="details">
                                <span class="title">{{video.filename}}</span>
                                <span class="date">{{video.createdOn | date: 'fullDate'}}</span>
                            </div>
                          </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #displayRecent>
    <div class="videoSections" >
        <div class="layout">
            <div *ngFor="let video of recentVideos">
                <div class="videoWrapper">
                    <div class="frame">
                        <a [routerLink]="['playing',video.id]">
                        <iframe  [src]="video.source | videoSanitiser : video.type" 
                        frameborder="0" autoplay="0" frameborder="0"></iframe>
                        <div class="details">
                            <span class="title">{{video.filename}}</span>
                            <span class="date">{{video.createdOn | date: 'fullDate'}}</span>
                        </div>
                      </a>
                    </div>
                    
                </div>
            </div>
        </div>   
    </div>
</ng-template>

