.home-container{
    width: 100%;
    max-height:635px;
    padding: 0px;
    overflow-y: scroll;
    padding-top:3.2em;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.1);
    
}
.main-content{
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.1);
}
.content{
    width: 100%;
    padding:0px 5px 0px 5px;
    display: flex;
}

.main{
    width: 100%;
    background-color: #FFFFFF;
    overflow: auto;
}

.loader{
    width:100%;
    display: flex;
    padding:1em 0em;
    height: 33%;
    align-items: center;
    justify-content: center;
}
.sk-fading-circle {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
}

.sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
    animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg); 
}
.sk-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg); 
}
.sk-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s; 
}
.sk-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s; 
}
.sk-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s; 
}
.sk-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s; 
}
.sk-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s; 
}
.sk-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s; 
}
.sk-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s; 
}
.sk-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; } 
}
.display-section,.header,.videoSections{
    width: 100%;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.1);
}
.header{
    display: block;
    background-color: #CCCCCC;
}
.header span{
    padding:2px 0px 3px 30px;
    font-size:.9em;
    display: block;
    font-weight: bolder;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.1);
}
.videoSections{
    width: 100%;
    padding: 5px 5px 20px 5px;
    height: auto;
    overflow: auto;
    background-color: #FFFFFF;
}
.videoWrapper{
    width: 100%;
    padding-bottom: 2px;
    margin-bottom: 2px;
    z-index: -1;
}
.videoWrapper .frame a{
    display: block;
    text-decoration: none;
    cursor: pointer;
    color:#000000;
}
.videoWrapper iframe{
    width: 100%;
    height: 250px;
    margin-bottom: 2px;
    background: #000000;
    border: none;
}
.details{
    padding: 1px 5px;
}
.title{
    font-size: .9em;
    font-weight: bold;
    display: block;
}

@media only screen and (min-width:450px) {
    .videoSections{
        max-height: 600px;
        overflow: auto;
        overflow-y: scroll;
    }
    .layout{
        width: 100%;
    }
    .videoWrapper{
        width: 50%;
        float: left;
        height: 220px;
    }
    .videoWrapper .frame{
        width: 220px;
        margin: auto;
    }
    .videoWrapper  iframe{
        width: 210px;
        height: 117.5px;
        margin:5px auto;
    }
}

@media only screen and (min-width:670px) {
    .videoWrapper{
        width: 33.33%;
    }
}

@media only screen and (min-width:870px) {
    .videoWrapper{
        width:25%;
    }
    .loyout{
        width:870px;
        margin: auto;
    }
}

