
$primary:rgba(0,0,0,.8);
$mainColor:rgba(0,0,0,.8);
$ulColor:#FFFFFF;

.navigation{
    padding-top: 2em;
}
.navigation ul{
    padding: 0px;
    list-style-type: none;
    padding: 5px;
}
.navigation ul li{
    padding: 15px 0px;
}
.navigation ul li a{
    display: flex;
    color: $ulColor;
}
.navigation ul li a .text{
    flex: 1;
    text-align: right;
    line-height: 30px;
    padding-right: 20px;
}
.navigation ul li a .icon{
    display: block;
    width: 20px;
    height:25px;
    margin-right: 15px;
}
.navigation ul li a .icon img{
    width: 100%;
    height: 100%;
}