<section class="navigation">
    <ul>
      <li>
        <a routerLink="/marialex/video/watch">
          <span class="text">Play</span>
          <span class="icon">
            <img src="../../../../assets/icons/video-sidebar-home-active.png" alt="Home">
          </span>
        </a>
      </li>
      <li>
        <a routerLink="/marialex/feed">
          <span class="text">Feeds</span>
          <span class="icon">
            <img src="../../../../assets/icons/video-sidebar-feeds-active.png" alt="Feeds">
          </span>
        </a>
      </li>
      <li>
        <a routerLink="/marialex/video/subscriptions">
          <span class="text">Subscriptions</span>
          <span class="icon">
            <img src="../../../../assets/icons/video-sidebar-subscriptions-active.png" alt="subscriptions">
          </span>
        </a>
      </li>
      <li>
        <a routerLink="/marialex/video/channels">
          <span class="text">Channels</span>
          <span class="icon">
            <img src="../../../../assets/icons/video-sidebar-channels-active.png" alt="channels">
          </span>
        </a>
      </li>
      <li>
          <a routerLink="/marialex/video/channels">
            <span class="text">Connections</span>
            <span class="icon">
                <img src="../../../../assets/icons/video-sidebar-connections-active.png" alt="connections">
            </span>
          </a>
        </li>
        <li>
          <a routerLink="/marialex/video/setting">
            <span class="text">Setting</span>
            <span class="icon">
                <img src="../../../../assets/icons/video-sidebar-setting-active.png" alt="setting">
            </span>
          </a>
        </li>
    </ul>
  </section>