<div class="about">
  <section class="header">
    <h4>About</h4>
  </section>
  <section class="body">
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Debitis sunt animi, voluptate voluptates dolor quisquam necessitatibus eum. Commodi 
      assumenda modi aliquam quod, ipsum excepturi reiciendis neque facere error, voluptate quis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Debitis sunt animi, voluptate voluptates dolor quisquam necessitatibus eum. Commodi 
      assumenda modi aliquam quod, ipsum excepturi reiciendis neque facere error, voluptate quis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Debitis sunt animi, voluptate voluptates dolor quisquam necessitatibus eum. Commodi 
      assumenda modi aliquam quod, ipsum excepturi reiciendis neque facere error, voluptate quis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Debitis sunt animi, voluptate voluptates dolor quisquam necessitatibus eum. Commodi 
      assumenda modi aliquam quod, ipsum excepturi reiciendis neque facere error, voluptate quis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Debitis sunt animi, voluptate voluptates dolor quisquam necessitatibus eum. Commodi 
      assumenda modi aliquam quod, ipsum excepturi reiciendis neque facere error, voluptate quis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Debitis sunt animi, voluptate voluptates dolor quisquam necessitatibus eum. Commodi 
      assumenda modi aliquam quod, ipsum excepturi reiciendis neque facere error, voluptate quis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Debitis sunt animi, voluptate voluptates dolor quisquam necessitatibus eum. Commodi 
      assumenda modi aliquam quod, ipsum excepturi reiciendis neque facere error, voluptate quis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Debitis sunt animi, voluptate voluptates dolor quisquam necessitatibus eum. Commodi 
      assumenda modi aliquam quod, ipsum excepturi reiciendis neque facere error, voluptate quis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Debitis sunt animi, voluptate voluptates dolor quisquam necessitatibus eum. Commodi 
      assumenda modi aliquam quod, ipsum excepturi reiciendis neque facere error, voluptate quis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Debitis sunt animi, voluptate voluptates dolor quisquam necessitatibus eum. Commodi 
      assumenda modi aliquam quod, ipsum excepturi reiciendis neque facere error, voluptate quis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Debitis sunt animi, voluptate voluptates dolor quisquam necessitatibus eum. Commodi 
      assumenda modi aliquam quod, ipsum excepturi reiciendis neque facere error, voluptate quis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Debitis sunt animi, voluptate voluptates dolor quisquam necessitatibus eum. Commodi 
      assumenda modi aliquam quod, ipsum excepturi reiciendis neque facere error, voluptate quis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Debitis sunt animi, voluptate voluptates dolor quisquam necessitatibus eum. Commodi 
      assumenda modi aliquam quod, ipsum excepturi reiciendis neque facere error, voluptate quis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Debitis sunt animi, voluptate voluptates dolor quisquam necessitatibus eum. Commodi 
      assumenda modi aliquam quod, ipsum excepturi reiciendis neque facere error, voluptate quis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Debitis sunt animi, voluptate voluptates dolor quisquam necessitatibus eum. Commodi 
      assumenda modi aliquam quod, ipsum excepturi reiciendis neque facere error, voluptate quis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Debitis sunt animi, voluptate voluptates dolor quisquam necessitatibus eum. Commodi 
      assumenda modi aliquam quod, ipsum excepturi reiciendis neque facere error, voluptate quis.</p>
       
  </section>
</div>