$deepGray:#2F4454;
$deepMaroon:#2E151B;
$pink:#DA7B93;
$lightGreen:#376e6F;
$DarkGreen:#1C3334;

.about{
    width: 300px;
    height: auto;
    padding: 1px;
    margin: auto;
}
.header{
    width: 100%;
}
.header h4{
    font-size: 1.2em;
    padding: .2em;
    background-color: $lightGreen;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
}
.body{
    width: 100%;
    max-height: 450px;
    overflow-y:auto;
}
.body p{
    width: 100%;
    padding: 5px 5px 50px 5px;
    
}

@media only screen and (min-width:500px){
    .about{
        width: 400px;
        font-size: 1.2em;
        transition: 200ms;
    }
    .body{
        max-height: 420px;
    }
}