<div class="infoAboutMe">
  <div class="content">
    <div class="tag">
        <label for="lastName">Last name:</label>
        <span>{{currentUser.lastName}}</span>
    </div>
    <div class="tag">
        <label for="lastName">Last name:</label>
        <span>{{currentUser.firstName}}</span>
    </div>
  </div>
</div>