.content{
    width: 100%;
    padding: 5px;
    background-color: #FFFFFF;
}
.newPost .postContent{
    width: 100%;
}
.picture,.eachPicture{
    width: 100%;
}
.eachPicture img{
    width: 100%;
    height: auto;
}