<div class="content">
  <div class=".newPost">
    <div class="postContent">
      <div class="postBody">
        <p>{{post.body}}</p>
      </div>
      <div class="picture" *ngIf="post.images?.length > 0" >
        <div class="eachPicture" *ngFor="let image of post.images">
          <img  [src]='image.source | imageEmbed : image.type' alt="image">
        </div>
      </div>
    </div> <!-- end of picture -->
    <div class="picture" *ngIf="post.video!=null">
      <div class="eachPicture">
        <iframe  [src]="post.video.source | videoSanitiser : post.video.type" 
        frameborder="0" autoplay="0"></iframe>
      </div>
    </div> <!-- end of picture -->
  </div>
</div>