.container{
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 100%;
}
.container-fluid{
    width: 100%;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

// @media only screen and (min-width:1000px){
//     .container{
//         padding: 0px 4em;
//     }
// }