
$navPrimaryColor:#076a8c;
$navcolorAccent:#FFFFFF;
$navPrimaryDark:#69717e;

.content{
    width: 190px;
    max-height: 250px;
    background-color:#FFFFFF;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
}
.picture{
    width: 100%;
    height: 140px;
    display: flex;
    position: relative;
}
.header{
    width: 100%;
    height: 75px;
    position: absolute;
    top: 0;
    left: 0px;
    z-index:0;
    background-color:$navPrimaryDark;
}
.body{
    width: 70px;
    height: 70px;
    position: absolute;
    z-index:1;
    top:35px;
    left: 0px;
    right: 0px;
    margin: auto;

}
.body img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 2px solid #FFFFFF;
    background-color: #777;
}

.content .info{
    width: 100%;
    padding: 3px 5px;
}
.content .info div{
    border-top: 1px solid #cccccc;
}
.content .info span{
    display: block;
    padding: 5px 0px;
    text-align:center;
}
.content .info .name{
    font-weight: bolder;
    font-size: 1.2em;
    color: #777;
}
.content .info .jobTitle{
    font-weight: bolder;
    font-style: italic;
}