<div class="content"> <!-- begin content -->
  <div class="picture"> <!-- begin picture -->
    <div class="header">
    </div>
    <div class="body" >
        <a routerLink="/marialex/profile">
          <img *ngIf="avatar!=null" [src]='avatar.source | imageEmbed : avatar.type' alt="avatar">
          <img *ngIf="!avatar" src="../../../../../assets/icons/profile_picture.png" alt="avatar">
      </a>
    </div>
  </div> <!-- end picture -->
  
  <div class="info">
    <div>
      <span class="name">{{currentUser.firstName+" "+currentUser.lastName}}</span>
      <span class="jobTitle">----</span>
      <span class="company">----</span>
    </div>
  </div>
</div> <!-- end content -->