<div class="profile-container">
    <div class="profile-content">
      <section class="main">
        <section class="header">
          <div class="profile">
            <img src="../../../../assets/images/profile-picture.png" alt="profile picture">
          </div>
          <nav tab-container>
            <ul class="tabs clearfix">
              <li routerLinkActive="current"><a routerLink="/marialex/video/profile/about-me">About me</a></li>
              <li routerLinkActive="current"><a routerLink="/marialex/video/profile/my-videos">My videos</a></li>
              <li routerLinkActive="current"><a routerLink="/marialex/video/profile/my-channels">My channels</a></li>
            </ul>
          </nav>
        </section>
        <section class="body">
            <router-outlet></router-outlet>
        </section>
        <section class="footer">

        </section>
      </section>
    </div>
  </div>