$mainColor:#FFFFFF;

.profile-container{
    width: 100%;
    max-height:635px;
    padding: 0px;
    overflow-y: scroll;
    padding-top:3.2em;
    
    
}
.profile-content{
    width: 100%;
    height: auto;
}

.main{
    width:90%;
    overflow: scroll;
    margin: auto;
    padding-top: 20px;
}
.header{
    width: 100%;
    height:65px;
    display: flex;
    padding: 3px;
    font-size: .9em;
    text-align: center;
    background-color: #B4B4B4;
    
    
}
.profile{
    width:50px;
    height:50px;
    border-radius: 100%;
    padding: 2px;
    margin: 10px 2px 0px 10px;
    border: 2px solid #CCCCCC;
}
.profile img{
    width: 100%;
    height: 100%;
}
.header nav{
    flex: 1;
    padding-bottom: 0px;;
}
.header nav ul{
    width: 100%;
    padding:0px 5px;
    display: flex;
    margin-top:19px;
}
.header ul li{
    width: 33.33%;
    font-size: .9em;
    line-height:40px;
    list-style-type: none;
    padding: 2px 1px 0px 1px;

    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    


    // background: #02111D;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #02111D, #037BB5, #02111D);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #02111D, #037BB5, #02111D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.header nav ul li a{
    display: block;
    color: #FFFFFF;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    border-color: #CCCCCC; 
}
.current a{
    background-color:rgba(0, 0, 0, 0.9);
    color: #FFFFFF;
    text-decoration: none;
    
}

.body{
    width: 100%;
    min-height: 400px;
    padding: 5px;
    padding-top: 20px;
    border-top: 10px solid rgba(0, 0, 0, 0.9);
    background-color: $mainColor;
}
