$deepGray:#2F4454;
$deepMaroon:#2E151B;
$pink:#DA7B93;
$lightGreen:#376e6F;
$DarkGreen:#1C3334;


.content-parent{
    width: 100%;
    max-height:635px;
    padding: 0px;
    overflow-y: scroll;
    padding-top:3.2em;
    
    
}
.content-child{
    width: 100%;
    height: auto;
}

.search-container{
    width: 100%;
    padding:0px 5px 0px 5px;
    z-index: 5;
    // margin-top: 4em;
    
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    // background: #485563;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.search-main{
    width: 95%;
    min-height: 543px;
    margin: auto;
    padding-top: 10px;
  
}

.search-engine{
    width:250px;
    margin: auto;
    
}
h4{
    text-align: center;
    color: #FFFFFF;
}
.searchBox{
    width: 100%;
    height: 44px;
    padding: 2px;
    display: flex;
    background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
}
input{
    height: 40px;
    flex: 1;
    border: none;
    padding: 0px 5px;
    font-size: 1.4em;
    outline: none;
}
button{
    width:50px;
    border: none;
    background-color: transparent;
    outline: none;
    
}
button img{
    width: 100%;
    
}
.search-result{
    width: 100%;
    max-height:400px;
    overflow-y: scroll;
    -webkit-background-color: #F0F0F0 !important;
    -moz-background-color: #F0F0F0 !important;
    -o-background-color: #F0F0F0 !important;
    background-color: #F0F0F0 !important;
    position: static;
}

@media only screen and (min-width:400px) {
    .search-engine{
        width: 80%;
        transition: 500ms;
    }
}


@media only screen and (min-width:768px) {
    .search-engine{
        width: 50%;
        transition: 500ms;
    }
}