<div class="upload-container">
  <div class="containter-content">
    <div class="main" [ngSwitch]="uploadStatus">
      <div *ngSwitchCase="'upload'"> 
        <div class="upload">
          <div class="upload-file" >
            <!-- <div class="upload-file" > -->
              <div class="file">
                <input (change)="handleFiles()" type="file" multiple #inputFiles  accept=".MP4,.mp4" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
                <img src="../../../../assets/icons/content-upload.png" alt="">
                <span>
                  Click to upload 
                </span>
                <span>or</span>
                <span> drag and drop</span>
              </div>
              <div class="buttons">
                <button class="btn btn-default">Cancel</button>
                <button (click)="uploadFiles()" class="btn btn-default">Next</button>
              </div>
            </div>
          </div>
          <div class="terms-and-conditions">
            <div class="agreement">
              <h5>Please, carefully read our terms and conditions</h5>
              <p>Lorem ipsum dolor sit amet 
                consectetur adipisicing elit. 
                Possimus dicta aut ex earum
                aspernatur, cupiditate itaque
                enim quam aliquam accusantium! Et, 
              </p>
            </div>
          </div>
        </div>
        <div class="uploading" *ngSwitchCase="'uploading'">   
          <div class="fileStatus"> <!--fileStatus-->
            <div class="status">
              <div class="statusContent">
                <div>Status: </div>
              </div>
              <div class="progressBar">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="70"
                  aria-valuemin="0" aria-valuemax="100" [style.width.%]="progress.percentage">
                  {{progress.percentage}}
                </div>
              </div>
            </div>
          </div> <!--end fileStatus-->
          <div  class="nextStep" *ngIf="fileUPloadStatus == 'completed'">
            <div class="organizeFileOrNewUPload">
                <button (click)="changeUploadStatus()" class="btn btn-default" >New videos</button>
                <button class="btn btn-default">My videos</button>
            </div>
          </div>
            <div class="video" *ngFor="let video of videoFilesToUpload">
              <div class="videoInfo">
                <div class="videoIcon">
                  <img src="../../../../assets/icons/videoIcon.png" alt="VideoIcon">
                </div>
                <div class="fileInfo">
                  <span class="name">Name:</span><span>{{video.name | formatVideoTitle}}</span>
                </div>
                <div class="fileSize">
                  <span class="size">Size:</span><span>{{video.size | formatFileSize}}</span>
                </div>
                <div class="fileType">
                  <!-- {{video.type}} -->
                  <span class="type">Type:</span><span>{{video.type}}</span>
                </div>
              </div>
              <div class="progressBar">
                <div *ngIf="fileUPloadStatus == 'uploading'">
                  <div class="loader"></div>
                </div>
                <div *ngIf="fileUPloadStatus == 'completed'">
                  <div class="marikedUPloaded">Uploaded</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    