.upload-container{
    width: 100%;
    max-height:635px;
    padding: 0px;
    overflow-y: scroll;
    padding-top:3.2em;
}
.containter-content{
    width: 100%;
    height: auto;
}
.upload{
    width: 90%;
    height: 370px;
    background-color: #FFFFFF;
    margin: auto;
    overflow: hidden;
    margin-top: 30px;
    z-index: -1;
}

.upload-file{
    width:95%;
    height:300px;
    margin:25px auto;
    z-index: -1;
   
}
.file{
    width: 100%;
    height: 250px;
    position: relative;
    border: 2px dashed #000000;
    z-index: 1;
}
.file input{
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    cursor: pointer;
   z-index:2;
}
.file img{
    width: 150px;
    height: 150px;
    display: block;
    margin:5px auto;
    z-index: 3;
   

}
.upload-file span{
    display: block;
    font-weight: bold;
    color: #888888;
    font-size: 1.2em;
    text-align: center;
}
.buttons{
    padding-top: 30px;
    width: 200px;
    margin: auto;
}
.buttons button{
    width: 90px;
}
.buttons button:last-child{
    float: right;
}
.terms-and-conditions{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    background-color: #FFFFFF;
    padding: 5px;
}
.terms-and-conditions div{
    width: 100%;
    padding: 5px;
    text-align: center;
}
.terms-and-conditions div h5{
    text-align: center;
}

.uploading{
    width: 95%;
    min-height:450px;
    margin:1em auto;
}

.fileStatus{
    width:100%;
    
}
.fileStatus .status{
    background-color: #FFFFFF;
    margin-bottom:.5em;
    overflow: hidden;
    padding: 10px;
}
.fileStatus .status .statusContent{
    width: 50px;
    float: left;
    line-height: 30px;
}
.fileStatus .progressBar{
    margin:.5em 0px 1em .5em;;
}
.nextStep{
    padding: 0px;
    margin:0px 0px .5em 0px;
}
.nextStep .organizeFileOrNewUPload{
    width: 250px;
    margin: auto;
    padding: .5em 0px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}


.video{
    width: 100%;
    overflow: hidden;
    padding:5px;
    background-color: #FFFFFF;
    margin-bottom: .5em;
}
.video:last-child{
    border-bottom: none;
}
.videoInfo{
    padding: 5px;
    background-color: #eeeeee;
}
.videoInfo .videoIcon{
    width: 140px;
    height: 50px;
    padding: 10px;
    border: 1px solid #444444;
}
.videoInfo .videoIcon img{
    width: 100%;
    height: 100%;
}
.videoInfo, .videoInfo .progressBar{
    display: inline-block;
}
.fileInfo, .fileSize, .fileType{
    display: flex;
    padding:2px 5px;
}
.fileInfo span, .fileSize span, .fileType span{
font-size: .9em;
}
.fileInfo span:last-child, .fileSize span:last-child, .fileType span:last-child{
    flex: 1;     
}
.name, .size, .type{
    width: 40px;
    text-align: left;
    font-size: 1em;
    font-weight: bold;
    margin-right: 10px;
}

.video .progressBar{
    width: 100px;
    height: 100px;
    float: right;
    display: flex;
}
.video .progressBar .progress{
    width: 100%;
    margin: auto;
}



.marikedUPloaded{
    margin: auto;
    display: block;
    text-align: center;
    width:100%;
    font-size:.8em;
    font-weight: bolder;
    color: #15a021;
    padding: 3px;
    margin-top:35px;
    border: 1px solid #15a021;
}

.loader {
    border:6px solid #f3f3f3;
    border-radius: 50%;
    border-top:6px solid #3498db;
    width: 70px;
    height:70px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
    margin: auto;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }