.container-home{
    width: 100%;
    padding: 0px 5px;
    display: flex;
    overflow-y: hidden;
    position: fixed;
    background-color: #D9D9D9;
    
}
.outter-content{
    display: flex;
}
.left,.right{
    display: none;
}
.inner-content{
    width: 100%;
    padding:0 5px;
    
}
.content{
    -webkit-overflow-y: scroll;
    -moz-overflow-y:scroll;
    -o-overflow-y:scroll;
    overflow-y: scroll;
    -webkit-max-height:700px;
    -moz-max-height:700px;
    -o-max-height:700px;
    max-height: 700px;
}
.content::-webkit-scrollbar { width: 0 !important }
.content{ -ms-overflow-style: none; }
.content::-moz-scrollbar {width: 0px;}



@media only screen and (min-width:500px){
    .outter-content{
        width: 500px;
        margin: auto;
    }
    .inner-content{
        width: 500px;
    }
}

@media only screen and (min-width:700px){
    .outter-content{
        width: 700px;
        margin: auto;
    }
    .right{
        display: flex;
        flex: 1;
        padding-left: 10px;
    }
}

@media only screen and (min-width:900px){
    .outter-content{
        width: 100%;
    }
    .left{  
        display: flex;
        flex: 1;
        padding-right: 10px;
    }
    left-side-bar{
        width: 100%;
    }
}
@media only screen and (min-width:1000px){
    .left{  
        justify-content: flex-end;
    }
    left-side-bar{
        width:300px;
    }
}
