<div class="container-home">
  <div class="outter-content">
    <div class="left">
      <left-side-bar></left-side-bar>
    </div>
    <div class="inner-content">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="right">
      <right-side-bar></right-side-bar>
    </div>
  </div>
</div>