<div class="main-content"> <!-- begin content -->
  <div class="content">
    <div class="header">
      <h4>Opportunity</h4>
    </div>
    <div class="body">
        Lorem ipsum dolor sit amet, 
        consectetur adipisicing elit.
        Minus sequi nobis officia, 
        praesentium cum, commodi rerum
        reiciendis sit mollitia 
        necessitatibus tenetur
        nostrum corrupti. Atque 
        quia, quaerat porro voluptate
        dolore dolor.
      </div>
  </div>
  <div class="content">
      <div class="header">
        <h4>Opportunity</h4>
      </div>
      <div class="body">
          Lorem ipsum dolor sit amet, 
          consectetur adipisicing elit.
          Minus sequi nobis officia, 
          praesentium cum, commodi rerum
          reiciendis sit mollitia 
          necessitatibus tenetur
          nostrum corrupti. Atque 
          quia, quaerat porro voluptate
          dolore dolor.
        </div>
    </div>
    <div class="content">
        <div class="header">
          <h4>Opportunity</h4>
        </div>
        <div class="body">
            Lorem ipsum dolor sit amet, 
            consectetur adipisicing elit.
            Minus sequi nobis officia, 
            praesentium cum, commodi rerum
            reiciendis sit mollitia 
            necessitatibus tenetur
            nostrum corrupti. Atque 
            quia, quaerat porro voluptate
            dolore dolor.
          </div>
      </div>
      <div class="content">
          <div class="header">
            <h4>Opportunity</h4>
          </div>
          <div class="body">
              Lorem ipsum dolor sit amet, 
              consectetur adipisicing elit.
              Minus sequi nobis officia, 
              praesentium cum, commodi rerum
              reiciendis sit mollitia 
              necessitatibus tenetur
              nostrum corrupti. Atque 
              quia, quaerat porro voluptate
              dolore dolor.
            </div>
        </div>
</div> <!-- end content -->