.main-content{
    min-height:450px;
    max-height:450px;
    overflow-y: scroll;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
}
.content{
    width: 100%;
    padding:1px 5px 1px;
    background-color:#FFFFFF;
    margin-bottom: 5px;
}
.header h4{ 
    text-align: center;
    line-height: 20px;
    font-size:1em;
    padding:1px 0px 5px 0px;
    border-bottom: 1px solid #F0F0F0;
}
