.video-player-container{
    width: 100%;
    max-height:635px;
    padding: 0px;
    overflow-y: scroll;
    padding-top:3.2em;
    
    
}
.main-content{
    width: 100%;
    height: auto;
}
.content{
    width: 100%;
    padding:0px 5px 0px 5px;
    display: flex;
}

.sidebar{
    width: 200px;
    height:200px;
    background-color: #FFFFFF;
}
.sidebarRight{
    order: 2;
    display: none;
}
.main{
    flex: 1;
    order: 2;
    padding:0px 5px;
}
.main section{
    width: 100%;
    min-height: 300px;
    margin-bottom: 5px;
    overflow: hidden;
    background-color: #FFFFFF;
    
}
.video-player{
    padding-top:10px;
}
.video-player .player{
    width: 100%;
    height: 240px;
    margin: auto;
}
.player iframe{
    width: 100%;
    height: 100%;
    background-color: #000000;
}

// width:426px;
// height:240px;

// width:640px;
// height:360px;


@media only screen and (min-width:427px){
    .video-player .player{
        width:426px;
        height:240px;
        margin-bottom: 40px;
    }
    
}

@media only screen and (min-width:650px){
    .video-player .player{
        width:640px;
        height:360px;
    }
    .sidebarRight{
        display: block;
    }
}




@media only screen and (min-width:900px){
    .video-player .player{ 
        width:700px;
        height: 400px;
        padding:20px;
        margin: auto; 
    }
     .sidebar{
         flex: 1;
     }
}


