<div class="video-player-container">
    <div class="main-content">
        <div class="content">
            <div class="main">
                <section class="video-player">
                  <div class="player" *ngIf="currentVideo">
                        <iframe [src]="currentVideo.source | videoSanitiser : currentVideo.type"  width="340" height="260" autoplay="0" frameborder="0"
                        webkitallowfullscreen mozallowfullscreen allowfullscreen>
                    </iframe>
                  </div>
                </section>
                <section class="play-list">
                    
                </section>
                <section class="video-description">
                    
                </section>
                <section class="suggestions">
                    
                </section>
                <section class="comment">
                    
                </section>
            </div>
            <div class="sidebar sidebarRight"></div>
        </div>
    </div>
</div>