$deepGray:#2F4454;
$deepMaroon:#2E151B;
$pink:#DA7B93;
$lightGreen:#376e6F;
$DarkGreen:#1C3334;


.search-container{
    width: 100%;
    min-height: 500px;
    padding: 5px;
    z-index: 5;
    margin-top: 4em;
}
.search-engine{
    width:250px;
    margin: auto;

}
h4{
    text-align: center;
}
.searchBox{
    width: 100%;
    height: 44px;
    padding: 2px;
    display: flex;
    background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
}
input{
    height: 40px;
    flex: 1;
    border: none;
    padding: 0px 5px;
    font-size: 1.4em;
    outline: none;
}
button{
    width:50px;
    border: none;
    background-color: transparent;
    outline: none;
   
}
button img{
    width: 100%;

}
.search-result{
    width: 100%;
    max-height:400px;
    overflow-y: scroll;
    background-color: #F0F0F0;
    position: static;
}

@media only screen and (min-width:400px) {
    .search-engine{
        width: 80%;
        transition: 500ms;
    }
}


@media only screen and (min-width:768px) {
    .search-engine{
        width: 50%;
        transition: 500ms;
    }
}