<div class="search-container">
  <div class="search-engine">
    <h4>Search</h4>
    <div class="searchBox"> 
      <input type="text" placeholder="Search our website">
      <button>
          <img src="../../../assets/icons/search-icon.png" alt="search">
      </button>
    </div>
    <div class="search-result">
      
      </div>
    </div>
  </div>