.container-sidebar{
    width: 100%;
    padding: 5px;
    background-color:#FFFFFF;
    min-height: 500px;
    border-radius: 10px;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    
}
 ul li{
    line-height: 40px;
}
ul li a{
    display: block;
    padding-left: 10px;
    color: rgb(0, 0, 0);
}
ul li button{
    background: none;
    padding: 5px 5px 5px 12px;
    border: 0px;
    outline: 0px;
    color: #000000;
}
