<div class="container-sidebar">
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/marialex/video">Videos</a></li>
    <li><a routerLink="">Notifications</a></li>
    <li>
      <button (click)="logout()">Logout</button>
    </li>
  </ul>
</div>