// $primary:#006699;
// $mainColor:#006699;
// $ulColor:#FFFFFF;

$primary:rgba(0,0,0,.8);
$mainColor:rgba(0,0,0,.8);
$ulColor:#FFFFFF;
header{
    width: 100%;
    position: fixed;
    z-index:9999999999999;
}
header img{
    width: 100%;
    height: 100%;
    
}
header nav{
    width: 100%;
    height: 35px;
    display: flex;
    padding: 0px 8px 0px 5px;
    background-color: $mainColor;
    
}
.menu-icon, .search-icon{
    width: 30px;
    height: 30px;
    padding-top: 5px;
}

.menu-icon{
    cursor: pointer;
    order: 1;
}

.search-icon{
    order: 3;
}
.menu{
    flex: 1;
    order: 2;
    padding: 5px 15px 0px 15px;
    
}
.menu ul{
    width: 100%;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
nav .menu li{
    width: 25px;
    height: 25px;
}
.menu li a:hover{
    position: relative;
}
.menu li a[data-title]:hover:after{
    content: attr(data-title);
    padding: 8px 12px;
    background-color: #000000;
    position: absolute;
    color: #FFFFFF;
    left:30px;
    top:15px;
    transition: 500ms;
    z-index: 100;
}
.menu li:last-child a[data-title]:hover:after{
    left:-90px;
}
//********** SideBar ***********\\

.sidebar{
    width: 200px;
    height: 650px;
    overflow-y: scroll;
    position: fixed;
    z-index: 40;
    top:35px;
    // border:1px solid $mainColor;
    // border-top: 4px solid transparent;
    background-color: $primary;
    margin-left: -145px;
    
}

@media only screen and (min-width:500px){
    .menu{
        padding-right: 50px;
        padding-left: 50px;
    }
}