<header>
  <nav>
    <div class="menu-icon">
      <a (click)="toggleSideBar()" id="menuIcon">
        <img src="../../../../assets/icons/video-nav-menu-active.png" alt="Menu">
      </a>
    </div>
    <div class="search-icon">
      <a routerLink="/marialex/video/search">
        <img src="../../../../assets/icons/video-nav-search-active.png" alt="Search">
      </a>
    </div>
    <div class="menu">
      <ul>
        <li>
          <a routerLink="/marialex/video" data-title="Home">
            <img src="../../../../assets/icons/home.png" alt="Home">
          </a>
        </li>
        
        <li>
          <a routerLink="/marialex/video/profile" data-title="Profile">
            <img src="../../../../assets/icons/profile.png" alt="profile">
          </a>
        </li>
        
        <li>
          <a routerLink="/marialex/video/upload" data-title="Upload">
            <img src="../../../../assets/icons/upload.png" alt="upload">
          </a>
        </li>
        <li>
          <a routerLink="/marialex/video/notifications" data-title="Notifications">
            <img src="../../../../assets/icons/notifications.png" alt="notification">
          </a>
        </li>
        
      </ul>
    </div>
  </nav>
</header>

<div class="sidebar" [@animateSideBar]="menuState" #sidebar>
  <video-sidebar></video-sidebar>
</div>