.newPostForm{
    width: 100%;
    padding: 5px 2px 0px 2px;
    background-color: #FFFFFF;
    box-shadow: 0 0 0 2px rgba(0,0,0,.1);
}
.newPostForm textarea{
    width: 100%;
    height: 80px;
    resize: none;
    background-color: #F3F3F3;
    border: none;
    border-bottom: 1px solid #D9D9D9;
    outline: none;
}
.menu{
    width: 100%;
    overflow: hidden;
    display: flex;
    padding-bottom:5px;
}
.leftMenu, .rightMenu{
    flex: 1;
    height:100%;
    text-align: center;
    overflow: hidden;
    padding:0;
    margin-top:4px;
    position: relative;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    width: 100%;
    padding:3px 10px 4px 10px;
    background-color: #f0f0f0;
    border: 1px solid #CCCCCC;
    cursor: pointer;
}
.custom-file-upload section{
    width: 100%;
    margin: auto;
    display: flex;
}
.custom-file-upload .icon{
    width: 15px;
    height: 15px;
}
.custom-file-upload .icon img{
    width: 100%;
    height: 100%;
}
.custom-file-upload .title{
    padding-top: 2px;
    flex:1;
}
.custom-file-upload:hover{
    background-color: #FEFEFEFE;
}
.postArticle{
    width:90px;
    padding: 2px 6px 2px 6px;
    text-align: center;
}
.postArticle button{
    width: 100%;
    border-radius: 1px;
}
.preview{
    width: 100%;
    height: auto;
    padding: 1px;
    margin-top: 10px;
    background-color: #F3F3F3;
    
}
.preview .fileInfo{
    width: 100%;
    padding: 2px 1px;
    position: relative;
}
.preview .fileInfo button{
    width: 30px;
    height: 20px;
    border: none;
    outline: none;
    box-shadow: none;
    position: absolute;
    z-index:5;
    top: 0px;
    right: 0px;
    background-color: transparent;
}
.preview .fileInfo  button img{
    width: 100%;
    height: 100%;
}
.preview .previewContent{
    width: 100%;
    height: auto;
    padding: 15px 0px;
    position: relative;
}
.preview .sparkles{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index:4;
    
}
.preview .sparkles img{
    width: 100%;
    height: 100%;
}
.preview .imageToPreview{
    width: 50%;
    border: 1px solid #000000;
    height: auto;
    margin: auto;
}
.preview .imageToPreview img{
    width: 100%;
    height: 100%;
}
.preview .imageToPreview iframe{
    width: 100%;
    height: 100%;
}
.userInfo{
    display: flex;
    margin-bottom: .5em;
    margin-top: 5px;
    overflow: hidden;
}
.user{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    float: left;
    background-color: #000000;
}
.user a{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.user img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.userLastAndFirstName{
    line-height: 30px;
    padding-left:5px;
}
.sensitiveAction {
    width: 200px;
    height: auto;
    padding-top: 0px;
    position: absolute;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 3;
    top: 40px;
    right: 5px;
    height: auto;
    background-color: #fff;
}
.sensitiveAction .closeButtonRelativeParent {
    position: relative;
}
.sensitiveAction .closeButtonRelativeParent .closeButton {
    position: absolute;
    cursor: pointer;
    top:-8px;
    width: 15px;
    height: 15px;
    right: 16px;
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    transform: rotate(45deg);
}








.sensitiveAction .actionsButtons {
    width: 100%;
    overflow: hidden;
    height: auto;
    
}
.sensitiveAction .actionsButtons .actionsButtonsInnerLayout{
    width: 100%;
    position: absolute;
    height: auto;
    background-color: #FFFFFF;
    border: 0px 1px 1px 1px solid rgba(0, 0, 0, 0.2);
}
.sensitiveAction .actionsButtons .actionsButtonsInnerLayout .div {
    line-height: 40px;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.sensitiveAction .actionsButtons .actionsButtonsInnerLayout div{
    border-left:1px solid rgba(0, 0, 0, 0.2);
    border-right:1px solid rgba(0, 0, 0, 0.2);
    border-bottom:1px solid rgba(0, 0, 0, 0.2);
}
.sensitiveAction .actionsButtons .actionsButtonsInnerLayout div:hover {
    background-color: #e3ebee;
    
}
.sensitiveAction .actionsButtons .actionsButtonsInnerLayout button {
    width: 100%;
    height: 100%;
    line-height: 40px;
    text-align: left;
    display: block;
    background: none;
    font-weight: bold;
    outline: none;
    color: #000;
    border: none;
}


.dotMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 15px;
    position: absolute;
    right: 5px;
    text-align: right;
    z-index: 2;
    cursor: pointer;
}
.dotMenu span {
    padding: 2px;
    margin-right: 3px;
    background-color: #000;
    box-shadow: 1px #333232;
}

#allpostContainer{
    width: 100%;
    padding: 5px 0px;
    overflow: hidden;
    
}
.postLink{
    display: block;
}
.confirmDeleteAction{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 20px solid #000000;
    margin-top: -5px;
    margin-bottom: 5px;
    right: 0px;
    z-index: 4;
    left: 0px;
    padding: 5px 10px;
    background-color:rgba(0, 0, 0, 0.75);
    text-align: center;
    font-size: 1.4em ;
    font-weight: bolder;
    box-shadow: 1px rgba(0, 0, 0, 0.1);
}
.confirmDeleteAction h6{
    color: #D8000C;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.2em;
}
.confirmDeleteAction button{
    margin: 20px 0px;
}
.confirmDeleteActionForShow{
    display: block;
}
#allpostContainer .eachPost{
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    padding-top: 5px;
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
}
#allpostContainer .eachPost a{
    color: #000000;
    text-decoration: none;
    display: block;
}
#allpostContainer .eachPost:last-child{
    margin-bottom:15em;
}
#allpostContainer .eachPost .postContent{
    width: 100%;
    
}

#allpostContainer .eachPost .postContent .postBody{
    width: 100%;
    padding-left: 5px;
}
#allpostContainer .eachPost .postContent .postBody p{ 
    width: 100%;
    padding: 5px;
}

.picture,.video{
    width: 100%;
}
.eachPicture{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.eachPicture img{
    width: 100%;
    height: 100%;
}
.eachVideo{
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    
}
.eachVideo iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
}

.postMenu{
    margin-top: 4px;
    padding:2px 15px;
    box-shadow: rgba(0, 0, 0, 0.1);
    font-size:.9em;
    font-weight: bold;
    background-color: #c3d7e7;
}
.actionInfo{
    padding: 2px 0px;
    border-bottom: 1px solid #CCCCCC;
}
.actionInfo .info{
    display:inline-block;
    margin:10px 10px 3px 5px;
}
.actionBar{
    padding: 2px 5px;
}
.actionBar button{
    background:none;
    border:none;
    margin:2px 10px 2px 0px;
    outline: none;
    padding:0;
}
.displayComments{
    padding-top: 3px;
    background-color: #dfe5e7;
}
.singleComment{
    padding:0px 20px;
    
    .userInfoSection{
        margin-top: 10px;
        .userThatCommented{
            display: flex;
            .commentUserProfileAvatar{
                width: 30px;
                height: 30px;
                border-radius: 100px;
                margin-right: 10px;
                a{
                    width: 100%;
                    height: 100%;
                    border-radius: 100px;
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 100px;
                        background-color: #000000;
                    }
                }
            }
            .userFullName{
                flex: 1;
            }
        }
        
    }
    .commentBody{
        padding: 0px 2px 0px 1px;
    }
}

.sectionForSubActions{
    margin:-5px 0px 10px 0px;
    padding:0px 0px 0px 2px;
    .subActions{
        margin-right: 3px;
        font-size: .9em;
        font-weight: bold;
        cursor: pointer;
    }
    .subActionsPipe{
        font-weight: 0%;
    }
}
.replyEach{
    width: 100%;
    overflow: hidden;
    display: flex;
}
.replyEach .userInfo .user{
    width: 30px;
    height:30px;
}
.ReplyForm{
    flex: 1;
    padding-right: 10px;
    padding-left: 5px;
}
.ReplyForm form{
    padding-top:5px;
}
.ReplyForm form textarea{
        width: 100%;
        height: 30px;
        padding:2px 5px;
        outline: none;
        border-radius: 30px;
        overflow: scroll;
        resize: none;
        border-color: #7f8486;
}
.addComments{
    display: flex;
    padding: 0px 20px;
    margin-top: 15px;
    form{
        flex: 1;
        padding:10px 15px;
        textarea{
            width: 100%;
            height: 30px;
            padding:2px 5px;
            outline: none;
            border-radius: 30px;
            overflow: scroll;
            resize: none;
            border-color: #7f8486;
        }
    }
}

.sensitiveActionHidden{
    display: none;
}
.hidePost{
    display: none;
}
.loader{
    width: 100%;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-ui {
    width: 30px;
    height:30px;
    border:3px solid #f3f3f3;
    border-radius:100%;
    margin-bottom: 5px;
    border-top:3px solid #7f8486;
    -webkit-animation: spin 1s linear infinite; 
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@media only screen and (min-width:340px){
    .custom-file-upload section{
        width: 100px;
    }
}