
<form>
  <section class="newPostForm">
    <textarea [(ngModel)]="postToSend.body" [ngModelOptions]="{standalone: true}"  placeholder="Post something" name="" id="" cols="30" rows="10">
    </textarea >
    <section class="menu">
      <div class="leftMenu">
        <label for="image-upload" class="custom-file-upload" title="Click to add an image">
          <section>
            <div class="icon">
              <img src="../../../../../assets/icons/image-icon.png" alt="image">
            </div>
            <div class="title">Add image</div>
          </section>
        </label>
        <input id="image-upload" type="file" 
        title="Add images" name="file"  accept=".png,.jpeg,.jpg,.gif"
        (change)="loadImage($event)"/>
      </div>
      <section class="postArticle">
        <button (click)="createPost()" class="btn btn-primary">Post</button>
      </section>
      <div class="rightMenu">
        <label for="video-upload" class="custom-file-upload" title="Click to add a video">
          <section>
            <div class="icon">
              <img src="../../../../../assets/icons/video-icon.png" alt="image">
            </div>
            <div class="title">Add Video</div>
          </section>
        </label>
        <input id="video-upload" type="file" title="Add videos" name="file" 
        accept=".mp3,.MP3,.mp4,.MP4" (change)="loadVideo($event)" />      
      </div>
    </section>
  </section>
</form>

<div class="preview" *ngIf="previewImageUrl.length"> <!-- begin preview image -->
  <div class="fileInfo">
    <button title="Close" (click)="cancelImageUpload()">
      <img src="../../../../../assets/icons/close_preview.png" alt="Cancel">
    </button>
  </div>
  <div class="previewContent">
    <div class="sparkles">
      <img src="../../../../../assets/images/preview_background.gif" alt="sparkles">
    </div>
    <div class="imageToPreview">
      <img [src]="previewImageUrl" alt="Preview">
    </div>
  </div>
</div> <!-- end preview image -->
<div class="preview" *ngIf="previewVideoUrl.length"> <!-- begin preview video -->
  <div class="fileInfo">
    <button title="Close" (click)="cancelVideoUpload()">
      <img src="../../../../../assets/icons/close_preview.png" alt="Cancel">
    </button>
  </div>
  <div class="previewContent">
    <div class="sparkles">
      <img src="../../../../../assets/images/preview_background.gif" alt="sparkles">
    </div>
    <div class="imageToPreview">
      <iframe [src]="previewVideoUrl | previewVideoSanitizer"></iframe>
    </div>
  </div>
</div> <!-- end preview video -->

<div class="main" *ngIf="loading; then displayLoadInterface; else displayPosts"></div>

<ng-template #displayLoadInterface>
  <div class="loader">
    <div class="loader-ui"></div>
  </div>
</ng-template>

<ng-template #displayPosts>
  <div id="allpostContainer">
    <div class="eachPost" *ngFor="let post of posts" [ngClass]="['globalPost'+post.id]">
      <div class="confirmDeleteAction" [ngClass]="['confirmDeleteActionFor'+post.id]">
        <h6>Are you sure to delete this post?</h6>
        <div>
          <button class="btn btn-default" (click)="cancelDeleteAction(post.id)">Cancel</button>
          <button class="btn btn-danger" (click)="deletePost(post.id)">Delete</button>
        </div>
      </div>
      <div class="userInfo"><!-- userInfo section-->
        <div class="user">
          <a>
            <img *ngIf="post.avatar" [src]='post.avatar.source  | imageEmbed : post.avatar.type' alt="profile">
            <img *ngIf="!post.avatars" src="../../../../../assets/icons/profile_picture.png" alt="profile">
          </a>
        </div>
        
        <div class="userLastAndFirstName">
          <b>{{post.user.firstName+" "+post.user.lastName}}</b>
        </div>
        <div class="sensitiveAction" [ngClass]="['sensitiveActionHidden','sensitiveAction'+post.id]">
          <div class="closeButtonRelativeParent">
            <div class="closeButton" (click)="closeSensitiveAction(post.id)"></div>
          </div>
          <div class="actionsButtons">
            <div class="actionsButtonsInnerLayout">
              <div><button class="edit action">Report</button></div>
              <div><button class="edit action">Hide</button></div>
              <div><button class="edit action" *ngIf="post.user.id == currentUser.id">Edit</button></div>
              <div><button class="delete action" *ngIf="post.user.id == currentUser.id" (click)="deletePostAction(post.id)">Delete</button></div>
            </div>
          </div>
        </div><!-- modified user info section-->
        <div class="dotMenu" (click)="displaySensitiveActions(post.id)">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <a [routerLink]="['/marialex/post',post.id, 'details']">
        <div class="postContent">
          <div class="postBody">
            <p>{{post.body}}</p>
          </div>
          <div class="picture" *ngIf="post.images?.length > 0" >
            <div class="eachPicture" *ngFor="let image of post.images">
              <img  [src]='image.source | imageEmbed : image.type' alt="image">
            </div>
          </div>
        </div> <!-- end of picture -->
        <div class="video" *ngIf="post.video!=null">
          <div class="eachVideo">
            <iframe [src]="post.video.source | videoSanitiser : post.video.type" 
            frameborder="0"  frameborder="0" scrolling="no" muted="true" autoplay="false" autostart="false" autoplay="0" autostart="0"
            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div> <!-- end of picture -->
      </a>
      <div class="postMenu">
        <div class="actionInfo">
          <span class="comments info">{{post.comments.length +" comments"}}</span>
        </div>
        <div class="actionBar">
          <button class="like action">Like</button>
          <button [ngClass]="['comment']" (click)="toggleCommentBoxByValue(post.id)">Comment</button>
          <button class="share action">Share</button>
        </div>
      </div>
      
      <div class="displayComments">
        <div class="eachComment" *ngIf="post.comments!=null">
          <div class="singleComment" *ngFor="let comment of post.comments">
            <div class="userInfoSection"><!-- userInfo section-->
              <div class="userThatCommented">
                <div class="commentUserProfileAvatar">
                  <a>
                    <img  *ngIf="comment.avatar" [src]='comment.avatar.source  | imageEmbed : comment.avatar.type' alt="profile">
                    <img *ngIf="!comment.avatar"src="../../../../../assets/icons/profile_picture.png" alt="profile">
                  </a>
                </div>
                <div class="userFullName"><strong>{{comment.user.firstName+" "+comment.user.lastName}}</strong>
                  <p class="commentBody">{{comment.body}}
                  </p>
                  <section class="sectionForSubActions">
                    <span class="subActions">Like</span>
                    <span class="subActions" (click)="toggleReplyBoxByValue(comment.id)">Reply</span> 
                    <span class="subActionsPipe">|</span>
                    <span class="subActions">0 Like</span>
                  </section>
                  <div class="replyEach" [ngClass]="['commentId','hidden']" [id]="comment.id">
                    <div class="userInfo userForReply"><!-- userInfo section-->
                      <div class="user">
                        <a>
                          <img *ngIf="currentUser.avatar" [src]='currentUser.avatar.source  | imageEmbed : currentUser.avatar.type' alt="profile">
                          <img *ngIf="!currentUser.avatar" src="../../../../../assets/icons/profile_picture.png" alt="profile">
                        </a>
                      </div>
                    </div>
                    <div class="ReplyForm">
                      <form #reply="ngForm" (keydown.enter)="addreplyToComment(reply.value)">
                        <input type="hidden" name="post" [ngModel]="post">
                        <input type="hidden" name="comment" [ngModel]="comment">
                        <input type="hidden" name="userId" [ngModel]="currentUser.id">
                        <textarea id="" placeholder="Type in your reply" name="body" ngModel></textarea>
                      </form>
                    </div>
                  </div>
                </div>            
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div [ngClass]="['addComments','hidden']" [id]="post.id" >
        <div class="userInfo userForComment"><!-- userInfo section-->
          <div class="user">
            <a>
              <img *ngIf="currentUser.avatar" [src]='currentUser.avatar.source  | imageEmbed : currentUser.avatar.type' alt="profile">
              <img *ngIf="!currentUser.avatar" src="../../../../../assets/icons/profile_picture.png" alt="profile">
            </a>
          </div>
        </div>
        
        
        <form #comments="ngForm" (keydown.enter)="onSubmit(comments.value)">
          <input type="hidden" name="post" [ngModel]="post">
          <input type="hidden" name="userId" [ngModel]="currentUser.id">
          <textarea id="" placeholder="Type in your comment" name="body" ngModel></textarea>
        </form>
      </div>
    </div>
  </div>
</ng-template>