.profileMainPage{
    width: 100%;
    height: auto;
    border: 1px solid rgba(0,0,0,.1);
}
.header{
    width: 100%;
    display:block;
    position:relative;
    margin: 0 auto;
}

.cover-page{
    display: block;
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #FFFFFF;
    height: 215px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}
.cover-page img{
    bottom: 0px;
    left: 0;
    min-height:100%;
    min-width: 100%;
    position: absolute;
}
    .menu-list{
        width: 100%;
        margin: 0px;
        padding: 5px 0px 0px 0px;
        background-color: #bbbbbd;
    }
    .menu-list ul{
        width: 100%;
        padding: 0px 10px 0px 20px;
        margin: 0px;
        overflow: hidden;
    }
    .menu-list ul li{
        width:80px;
        float: left;
        line-height: 30px;
        font-size: .8em;
        text-align: center;
        list-style-type: none;
        padding:1px;
        padding-bottom: 0px;
        position: relative;
    }
    
    .menu-list ul li a{
        border: 1px solid #444444;
        background-color: #000000;
        display: block;
    }
    .menu-list ul li a:hover{
        
    }
    .menu-list ul li a.currentLink{
        border-bottom: 1px solid #FFFFFF;
        background-color: #FFFFFF;
    }
    .menu-list ul li a.currentLink ~li{
        padding-bottom: 0px;
    }
    .profileImage{
        width: 100px;
        height:100px;
        bottom:15px;
        right: 15px;
        margin: auto;
        position: absolute;
        z-index: 3;
        border: 5px solid #FFFFFF;
        background-color: #949494;
    }
    .profileImage img{
        width: 100%;
        height: 100%;
    }
    .updateProfile{
        width: 85%;
        height: auto;
        background-color: #FFFFFF;
        border: 1px solid #EEEEEE;
        top: 100px;
        left: 0px;
        right: 9px;
        display: none;
        margin: auto;
        position: absolute;
        z-index: 5;
    }
    .updateProfile .menu button{
        background: none;
        outline: none;
        float: right;
        margin: 2px;
        justify-content: flex-end;
        font-weight: bolder;
        color: #444444;
        border: none;
    }
    .updateProfile .menu button[data-title]:hover:after{
        content: attr(data-title);
        padding: 5px;
        background-color: #FFFFFF;
        position: absolute;
        color: #000000;
        right:2px;
        top:30px;
        transition: 500ms;
        z-index: 100;
    }
    
    .profilePictureAndCoverPhoto{
        width: 100%;
        margin-top: 20px;
        padding-bottom: 0px;
    }
    .profilePictureAndCoverPhoto ul{
        width: 100%;
        padding: 0px 10px 0px 20px;
        margin: 0px;
        margin: auto;
        border-bottom: 2px solid #eeeeee;
        overflow: hidden;
    }
    .profilePictureAndCoverPhoto ul li{
        width: 50%;
        float: left;
        line-height: 40px;
        font-size: .9em;
        text-align: center;
        list-style-type: none;
        padding: 1px 1px 0px 1px;
        position: relative;
    }
    .profilePictureAndCoverPhoto ul li:first-of-type{
        margin-right: -5px;
    }
    .profilePictureAndCoverPhoto ul li:last-of-type{
        margin-left: -5px;
    }
    .profilePictureAndCoverPhoto ul li a{
        height: 0;
        width: 100%;
        color: #000000;
        border-bottom:40px solid  rgb(179, 175, 175);
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        border-top-left-radius: 10px;
        box-sizing: border-box;
        display: block;
    }
    .profilePictureAndCoverPhoto ul li a.currentLink{
        border-bottom-color: #dfdcdc;
        text-decoration: none;
    }
    .displayContent{
        min-height: 320px;
        background-color: #FFFFFF;
    }
    .page{
        width: 100%;
        height: auto;
        padding: 10px;
        overflow: hidden;
        border-top: 5px solid #FFFFFF;
        background-color: rgb(159, 173, 189);
    }
    @media only screen and (min-width:400px){
        .profilePictureAndCoverPhoto ul{
            width: 300px;
        }
        .menu-list ul{
            width: 80%;
        }
        .menu-list ul li{
            width: 33.33%;
        }
    }
    
    @media only screen and (min-width:768px){
        .profileMainPage{
            width: 80%;
            margin: auto;
        }
        
    }