<div class="profileMainPage"><!--profile-->
    <div class="header">

        <div class="cover-page">
            <a routerLink="/marialex/update/coverphoto">
                <img *ngIf="coverPhoto.source" [src]='(coverPhoto)?.source | imageEmbed : coverPhoto.type' alt="cover photo">
                <img *ngIf="!coverPhoto.source" src="../../../../../assets/images/cover-page.jpeg" alt="cover photo">
            </a>
        </div>

        <div class="menu-list">
            <ul>
                <li><a routerLinkActive="currentLink" routerLink="/marialex/aboutme">About me</a></li>
                <li><a routerLinkActive="currentLink" routerLink="/marialex/myfeeds">My feeds</a></li>
                <li><a routerLinkActive="currentLink" routerLink="/marialex/mysetting">Setting</a></li>
            </ul>
        </div>

        <div class="profileImage" (click)="updateAvatar()">
            <a routerLink="/marialex/update/profilephoto">
                <img *ngIf="avatar.source" [src]='avatar.source | imageEmbed : avatar.type' alt="image">
                <img *ngIf="!avatar.source" src="../../../../../assets/icons/profile_picture.png" alt="avatar">
            </a>
        </div>
    </div>
    
    <!-- update profile dropdown div-->
    <div class="updateProfile" #updateProfileImage>
        <div class="menu">
            <a routerLink="/marialex/feed/profile">
                <button data-title="Close" class="closeProfileUpdate" (click)="closeProfileUpdate()">X</button>
            </a>
        </div>
    </div>
    <div class="page">
      <router-outlet></router-outlet>
    </div>
</div><!--end profile-->

